:root {
    --dirt-yellow: #ffcc01;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

hr {
    border: none;
    height: 2px; 
    background-color: var(--dirt-yellow); 
    margin: 20px 0; 
}
section {
    padding: 0px;
}

main {
    max-width: 1300px;
    margin: auto;
}



.container { display: flex; }
.column { width: 20%; padding: 10px; box-sizing: border-box; }
.cp-item { margin-bottom: 10px; 

}

#site-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 0;

    #logo {
        max-width: 200px;
    }
}

#site-foot {
    overflow: hidden;

    img {
        width: 100%;
        display: block;
        position: relative;
        bottom: -44px;
        z-index: 1;
    }

    .decorative-square {
        height: 50px;
        width: 100%;
        position: relative;
        background-color: var(--dirt-yellow);
        bottom: -196px;
    }
}

#modal-wrapper {
    display: none;
}

#saveBtn {
    margin-top: 20px;
}